In [36]:
import pandas as pd
pd_ = pd.read_csv("vaccination.csv")
df = pd_.copy()
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [37]:
for country in df['country'].unique():
    min_val = df.loc[df['country'] == country, 'daily_vaccinations'].min()
    df.loc[(df['daily_vaccinations'].isnull()) & (df['country'] == country), 'daily_vaccinations'] = min_val

df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [38]:
medians = df.groupby('country')['daily_vaccinations'].median().reset_index()

in_line = medians.sort_values(by='daily_vaccinations', ascending=False)

in_line[0:3]

          country  daily_vaccinations
58  United States            378253.0
8           China            276786.0
24          India            173922.0

In [39]:
filter = df['date'] == '1/6/2021'
total = df[filter]['daily_vaccinations'].sum()
total

1485255.0

In [40]:
filtre = df['date'] == '1/6/2021'
toplam_asilar_ = df[filtre]['daily_vaccinations'].sum()
toplam_asilar

vaccines
CNBG, Sinovac                          455357.0
Moderna, Pfizer/BioNTech               591762.0
Oxford/AstraZeneca, Pfizer/BioNTech    222310.0
Pfizer/BioNTech                        135829.0
Pfizer/BioNTech, Sinopharm              32292.0
Sputnik V                               47705.0
Name: daily_vaccinations, dtype: float64